* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

.container {
    display: flex;
    background-color: #000000;
    flex-direction: column;
    height: 100vh;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90px;
    width: 100%;
    background-color: #ffffff;
    color: #ff0000;
}

.panel{
    border: 1px solid #ff0000;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square{
    height: 150px;
    width:150px;
    background-color: #00ffff;
    border: 1px solid #000000;
}

.enemy {
    background-color: #ff0000;
}