* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url("../assets/wall.png");
}

.menu {
    display: flex;
    background-color: #000000;
    justify-content: space-evenly;
    align-items: center;
    height: 90px;
    width: 100%;
    color: #ff0000;
    border-bottom: 5px solid #ffd700;
}

.panel{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square{
    height: 150px;
    width:150px;
    background-color: #00ffff;
    border: 1px solid #000000;
}

.enemy {
    background-image: url("../assets/ralph.png");
    background-size: cover;
}

.menu-lives {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-time h2:nth-child(2),.menu-score h2:nth-child(2){
    margin-top: 1rem;
    color: white;
    text-align: center;

}